body {
    text-align: center;
    font-family: arial;
    color: purple;
    font-size: 16px;
}
#cabecera {
    background: green;
    color: greenyellow;
    margin: 0.5em;
    padding: 0.1em;
    box-shadow: 0px 2px 20px 0px indigo;
    font-weight: bold;
}
#cabecera tagline {
    padding: 0 0 0 0.1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}
#container h1 {
    font-size: 16px;
}