body {
    background-color: rgb(6, 6, 29);
    color: blue;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera {
    background: rgb(33, 33, 83);
    box-shadow: 0px 2px 20px 0px gray;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em  
}
#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}
#cabecera tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}
#post {
    background: white;
    padding: 2em;
}
#footer{
    background-color: gray;
    text-align: center;
    padding: 20px;
    color: white;
    margin: 0px;
    padding: 1em;
}
#cuadro{
    text-align: right;
    color: white;
    padding: 15px;
}
img{
    display: inline;
    width: 200px;
    box-shadow: gray 0px 0px 15px 5px;
    border-radius: 20px;
    margin: 15px;
}
#cartelera{
    text-align: center;
    padding: 15px;
    background-color: grey;
    border-radius: 20px;
    color: white;
}
#fotos{
    padding: 20px;
    text-align: center;
}